<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Diabolicalcats.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D31FFB081D780FDB00CCB733</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D31FFB211D780FDB00CCB733</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D31FFB2C1D780FDC00CCB733</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
